<%= turbo_frame_tag @comment.id , class: 'comment' do %>
  <img src="<%= resize(@comment.user.pfp) %>" height="50" width="50" alt="Comment author's profile picture" />
  <div>
    <div>
      <h3><%= @comment.user.username %></h3>
      <% if @comment.moderator %>
        <span class="moderator"><ion-icon name="star"></ion-icon><span>Moderator</span></span>
      <% end %>
      <span class="timestamp"><%= time_ago_in_words(@comment.created_at) %> ago</span>
      <%= link_to 'Cancel', ticket_comment_path(@comment.ticket_id, @comment.id) %>
    </div>
    <%= form_for @comment, url: ticket_comment_path(@comment.ticket_id, @comment.id) do |form| %>
      <%= form.text_area :content,
                         required: true,
                         placeholder: 'Enter comment' %>

      <% @comment.errors.full_messages.each do |msg| %>
        <p class="error"><%= msg %></p>
      <% end %>

      <%= form.submit 'Update Comment' %>
    <% end %>

    <% flash.each do |type, msg| %>
      <span data-controller="flash" data-flash-target="flash" class="flash <%= type %>"><%= msg %></span>
    <% end %>
  </div>
<% end %>
