<% if current_user_is_mod? %>
  <%= turbo_frame_tag 'change-status-frame' do %>
    <%= form_with model: ticket, id: 'change-status-form' do |form| %>
      <%= render 'dropdown',
                 id: 'change-status',
                 form: form,
                 choices: choices,
                 data_id: :status_id,
                 selected: ticket.status,
                 multiselect: false,
                 assign_classes: true %>

      <%= form.submit 'Update' %>
    <% end %>

    <% flash.each do |type, msg| %>
      <span data-controller="flash" data-flash-target="flash" class="flash <%= type %>"><%= msg %></span>
    <% end %>
  <% end %>
<% else %>
  <span class="<%= ticket.status.name %>"><%= ticket.status.display_str %></span>
<% end %>
