<div class="card">
  <%= link_to '', ticket, class: 'link-blanket', data: { turbo_frame: "_top" } %>

  <span class="<%= ticket.status %>"><%= ticket.display_status %></span>

  <a href="<%= ticket.user.url %>" target="_blank">
    <img src="<%= resize(ticket.user.pfp) %>" alt="profile picture" width="50" height="50" />
  </a>

  <div>
    <span>
      <%= ticket.display_appeal_type %>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <span class="comment-count"><%= ticket.comments.size %></span>
    </span>
    <span>
      <a href="<%= ticket.user.url %>" target="_blank"><%= ticket.user.username %></a>
    </span>
  </div>

  <p><%= ticket.content %></p>
</div>
