<%= render 'status', ticket: @ticket, choices: @status_types %>

<span><%= @ticket.type.display_str %></span>

<div class="author">
  <img height="75" width="75" src="<%= resize(@ticket.user.pfp, 75) %>" alt="Ticket author's profile picture" />
  <div>
    <h2><%= link_to @ticket.user.username, @ticket.user.url %></h2>
    <span class="timestamp"><%= time_ago_in_words(@ticket.created_at) %> ago</span>
  </div>
</div>

<p id="ticket-info"><%= @ticket.content %></p>

<% if current_user_is_mod? %>
  <%= render 'infractions', infractions: @ticket.infractions %>
<% end %>

<%= turbo_frame_tag 'comments', src: ticket_comments_path(@ticket.id) %>
